@import "setup";

body {
  background-color: #000000;
  background-image: url(/assets/bg.png);
}

.header {
  height: 100vh;

  &__nav {
    display: flex;
    justify-content: space-evenly;
    &__item {
      list-style: none;
      &__link {
        font-family: "Special Elite", "Times New Roman", Times, serif;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  &__hero {
    background-image: url(/assets/stage.jpg);
    background-size: cover;
    // background-position: bottom center;
    height: 80vh;
    position: relative;

    &__container {
      background-color: #0000d5;
      margin: 0;
      padding: 0;
      width: 450px;
      position: absolute;
      right: 0;
      bottom: -50px;

      &__img {
        width: 450px;
        display: block;
        opacity: 0.7;
        padding: 10px 0 10px 10px;
        background-color: black;
      }
    }
  }
}

.about {
  display: flex;
  justify-content: center;
}

.wrapper {
  border: 1px solid red;
  width: 90%;
}

/* your rows */

.row {
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
  margin-bottom: 32px;
  height: 700px;
}
.row:last-child {
  margin-bottom: 0;
}

/* your cols */
.third {
  width: calc(33.3% - 16px);
  border: 1px solid green;
}

.two-thirds {
  width: calc(66.6% - 16px);
  border: 1px solid green;
}

.half {
  width: calc(50% - 16px);
  border: 1px solid green;
}

.feature {
  display: flex;
  flex-direction: column;
}

.feature-image {
  background-color: red;
  height: 50%;
}

.feature-content {
  background-color: pink;
  height: 50%;
}

.row img {
  object-fit: cover;
  object-position: top center;
}
