html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.divider {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 1px;
}

.divider:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#550c0c), to(transparent));
  background-image: linear-gradient(to right, transparent, #550c0c, transparent);
}

.divider:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #550c0c;
  border-bottom: 1px solid #550c0c;
  border-right: 1px solid #550c0c;
}

body {
  background-color: #000000;
  background-image: url("../assets/bg.png");
  font-family: "Righteous", sans-serif;
  color: #ffffff;
}

.wrapper {
  width: 90%;
}

button {
  background-color: #0000;
  border: none;
}

.hamburger {
  color: #ffffff;
}

.hamburger__logo {
  display: none;
}

.hamburger,
.exit {
  display: none;
}

.exit {
  position: relative;
  top: 30px;
  left: 30px;
}

.show.menu {
  display: block;
}

.title {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  padding-left: 20px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
}

.header__nav__item {
  list-style: none;
}

.header__nav__item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  margin-right: 40px;
  position: relative;
  display: inline-block;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#dc143c), color-stop(50%, #dc143c), color-stop(50%, #ffffff));
  background: linear-gradient(to right, #dc143c, #dc143c 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.header__nav__item a:hover {
  background-position: 0 100%;
}

.hero {
  background-image: url("../assets/stage.jpg");
  background-size: cover;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 50px;
}

.hero__logo {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.hero__social {
  position: absolute;
  right: 20px;
  bottom: 0;
}

.hero__social__item {
  list-style: none;
  margin-bottom: 20px;
}

.hero__social__item a {
  font-size: 30px;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#dc143c), color-stop(50%, #dc143c), color-stop(50%, #ffffff));
  background: linear-gradient(to right, #dc143c, #dc143c 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.hero__social__item a:hover {
  background-position: 0 100%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  height: 600px;
}

.about__container__side {
  width: calc(33.3% - 16px);
  -o-object-fit: cover;
     object-fit: cover;
  border: #550c0c solid 1px;
}

.about__container__content {
  width: calc(66.6% - 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__container__content__img {
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: #550c0c solid 1px;
}

.about__container__content__text {
  font-family: "Raleway", sans-serif;
  text-align: center;
  height: 50%;
  background-color: rgba(37, 35, 35, 0.6);
  border: #550c0c solid 1px;
}

.about__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about__gallery__item {
  list-style: none;
  margin-right: 20px;
}

.about__gallery__item__img {
  width: 100%;
  display: block;
  border: #550c0c solid 1px;
}

.about__gallery__item:last-child {
  margin-right: 0;
}

.bar {
  background-image: url("../assets/bar.png");
  background-size: cover;
}

.tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tour__list {
  margin: 0;
  padding: 0;
}

.tour__list__date {
  list-style: none;
  margin-bottom: 10px;
}

.tour__list__date:last-child {
  margin-bottom: 0;
}

.music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
}

.music__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.music__container__left {
  width: 50%;
  height: 60vh;
  border: #550c0c solid 1px;
}

.music__container__right {
  width: 50%;
  height: 60vh;
}

.music__container__right__list__item {
  list-style: none;
}

.music__container__right__list__item a {
  text-decoration: none;
  font-size: 50px;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#dc143c), color-stop(50%, #dc143c), color-stop(50%, #ffffff));
  background: linear-gradient(to right, #dc143c, #dc143c 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.music__container__right__list__item a:hover {
  background-position: 0 100%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__banner {
  background-image: url("../assets/contact.png");
  background-size: cover;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #550c0c solid 1px;
}

.contact__banner__text {
  padding: 20px;
  font-size: 40px;
  text-transform: uppercase;
  border: #550c0c solid 1px;
  background-color: #000000;
}

.contact__banner__text a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#dc143c), color-stop(50%, #dc143c), color-stop(50%, #ffffff));
  background: linear-gradient(to right, #dc143c, #dc143c 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.contact__banner__text a:hover {
  background-position: 0 100%;
}

.footer {
  background-image: url("../assets/redbg.png");
  background-position: bottom;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.footer__nav__item {
  list-style: none;
  margin-right: 20px;
}

.footer__nav__item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, right top, left top, from(#000000), color-stop(50%, #000000), color-stop(50%, #ffffff));
  background: linear-gradient(to left, #000000, #000000 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 245ms ease;
  transition: background-position 245ms ease;
  text-decoration: none;
}

.footer__nav__item a:hover {
  background-position: 0 100%;
}

.footer__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 170px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.footer__social__item {
  list-style: none;
}

.footer__social__item a {
  font-size: 30px;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, right top, left top, from(#000000), color-stop(50%, #000000), color-stop(50%, #ffffff));
  background: linear-gradient(to left, #000000, #000000 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 245ms ease;
  transition: background-position 245ms ease;
  text-decoration: none;
}

.footer__social__item a:hover {
  background-position: 0 100%;
}

@media (max-width: 850px) {
  .hamburger,
  .exit {
    display: block;
  }
  .hamburger {
    display: inline-block;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, right top, from(#dc143c), color-stop(50%, #dc143c), color-stop(50%, #ffffff));
    background: linear-gradient(to right, #dc143c, #dc143c 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-transition: background-position 275ms ease;
    transition: background-position 275ms ease;
    text-decoration: none;
    font-size: 25px;
  }
  .hamburger:hover {
    background-position: 0 100%;
  }
  .exit {
    display: inline-block;
    overflow: hidden;
    background: -webkit-gradient(linear, right top, left top, from(#000000), color-stop(50%, #000000), color-stop(50%, #ffffff));
    background: linear-gradient(to left, #000000, #000000 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-transition: background-position 245ms ease;
    transition: background-position 245ms ease;
    text-decoration: none;
    font-size: 35px;
  }
  .exit:hover {
    background-position: 0 100%;
  }
  .menu {
    display: none;
  }
  .menu .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/redbg.png");
    z-index: 10;
  }
  .hamburger {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hamburger__logo {
    display: block;
    width: 350px;
    margin-bottom: 20px;
  }
  .fullscreen ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu ul a {
    font-size: 50px;
    text-align: center;
    width: 100%;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    background: -webkit-gradient(linear, right top, left top, from(#000000), color-stop(50%, #000000), color-stop(50%, #ffffff));
    background: linear-gradient(to left, #000000, #000000 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-transition: background-position 245ms ease;
    transition: background-position 245ms ease;
    text-decoration: none;
    -webkit-transition: background-position 800ms ease;
    transition: background-position 800ms ease;
  }
  .menu ul a:hover {
    background-position: 0 100%;
  }
}
